/*
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,200i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,400i,700,700i&display=swap');
*/
@import url('fira_sans.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap');


@import "src/_variables.less";
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

code {
	color: hsl(120, 30%, 50%);
	font-family: var(--font-code);
}
var {
	color: orangered;
	font-family: serif;
	font-stretch: condensed;
}
samp {
	color: orangered;
}
dfn {
	font-weight: 600;
}
h2 {
	border-bottom: 1px solid black;
}
div.interface {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	& > header,
	& > footer {
		background-color: var(--couleur-principale);
		background-image: url(images/motif_filet.svg);
		background-size: 6em;
		padding: .5em 1em;
		color: #fff;
	}

	& > header {
		order: -1000;
	}

	& > footer {
		order: 1000;
	}

	& > .principal {
		font-size: smaller;
		order: -1;
		a {
			height: 3em;
			padding: 0 .25em;
		}

		ul {
			background-color: var(--couleur-secondaire);
			li {
				&.courant {
					background-color: rgba(0, 0, 0, .7);
					color: white;
					pointer-events: none;
				}
				&:hover {
					background-color: rgba(0, 0, 0, .1);
				}
			}
		}
		@media all and (max-aspect-ratio: @aspect-ratio) {
			a {
				height: 2em;
				padding: 0 1em;
			}
		}
	}

	& > div.body {
		flex: 1 0 auto;
	}
	& > .sommaire > ul {
		background-color: black;
		order:-10;
		color: white;
	}
}

header {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
}
@import "src/_menu-reactif.less";
.bloccode {
	border: 1px solid black;
	font-family: monospace;
	padding: 0.5em;
	& > div {
		white-space: pre;
	}
}
article > h2 {
	cursor: pointer;
}
.folded {
	@media print {
		display:none;
	}
	& > :first-child {
		opacity: .3;
		&::before {
			content: "⋮";
			content: "…";
			position: absolute;
			margin-left: -1em;
		}
		& ~ * {
			display: none;
		}
	}
}
svg.indicateur {
	width: 1em;
	height: 1em;
	fill: rgba(0,0,0,.3);
	position: absolute;
	margin-left: -1em;
}

.body {
	padding: 1em;

	h1 {
		font-size: 1.6em;
		margin: 0;
		color: var(--couleur-principale);
		font-weight: 900;
	}
	h2 {
		font-size: 1.3em;
		margin: 0;
		margin-top: 1em;
		margin-bottom: .5em;
		color: var(--couleur-principale);
		font-weight: 900;
	}
	h3 {
		font-size: 1.1em;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
	& + ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

div.colonnes {
	display:grid; 
	grid-template-columns: minmax(min-content, auto) minmax(min-content, 1fr);
}

ul.glossaire {
	margin: 0;
}
ul.sections {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.commandes {
	line-height: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-gap: 1em;
	

	li {
		display: grid;
		// border-bottom: 1px dotted #ccc;
//		margin-top: 1em;
	}

	.terme {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: auto;
		justify-content: flex-start;
		align-items: baseline;
		padding-bottom: .2em;
		margin-bottom: .2em;
	}

	.keyword {
		font-weight: bold;
	}

	.prefixe {
		font-size: smaller;
		font-weight: 200;
		font-style: italic;
	}

	.parametres {
		align-self: center;
		font-size: smaller;
		quotes: "("")";

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}

		span + span::before {
			content: ", ";
		}
	}
}
ul.definitions {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-gap: 0 1em;
	align-items: center;
	grid-auto-columns: max-content;
	li {
		display: contents;
	}
	dfn {
		grid-column: 1;
	}
	span.definition {
		grid-column: 2
	}
	samp.exemples {
		grid-column: 3;
	}
}
samp {
	display: inline-flex;
	flex-wrap: wrap;
	font-size: smaller;
	font-family: var(--font-code);
	span {
		white-space: nowrap;
		padding: .1em .5em;
		border-radius: .3em;
		margin: .1em;
		background-color: var(--couleur-highlight);
	}

//		flex-direction: column;
}
@import "src/_exemple.less";
@import "src/_options.less";
@import "src/_html.less";

#importance {
	width: 4em;
}
:root:not(.afficher-exemples) {
	.masquer-exemples;
}
.concis {
	.prefixe {
		display: none;
	}

	.parametres * {
		display: none;
	}
}

:root.compact {
	.concis;
	.masquer-exemples;
	ul.commandes {
		grid-gap: 0em;

		li {
			grid-template-columns: 18ch 1fr;
		}

		div.terme {
			// flex-direction: column;
			align-items: flex-start;
			grid-auto-flow: row;
		}

		.parametres {
			align-self: flex-start;
		}
	}

}
:root:not(.fondamental) {
	*[data-n="0"] {
		display: none;
	}
}
:root:not(.intermediaire) {
	*[data-n="1"] {
		display: none;
	}
}
:root:not(.avance) {
	*[data-n="2"] {
		display: none;
	}
}
/*Option non fournie par défaut*/
:root:not(.expert) {
	*[data-n="3"] {
		display: none;
	}
}

@media all and (min-width: 960px) {
	:root {
		font-size: 16px;
	}
	.interface {
		width: 48em;
		margin: 0 auto;
	}
}

@media all and (max-aspect-ratio: @aspect-ratio) {
	:root {
		font-size: 3vw;
	}

	div.interface {
		& > nav {
			font-size: 1em;

		}
		& > div.body {
			flex: 1 0 auto;
		}
	}
}
@media print {
	@page {
		size: 8.5in 11in;
		margin: .5in;
	}
	:root {
		font-size: 9pt;
	}
	ul.sections {
		margin-top: 1em;
		columns: 2;
		column-rule: 1px dotted black;
		column-gap: 2em;
		h2:first-child {
			margin-top: 0;
		}
	}
	div.interface {
		height: auto;
		& > nav, & > .options {
			display:none;
		}
		& > header {
			border-bottom: .5pt solid black;
		}
		& > footer {
			border-top: .5pt solid black;
		}
		& > header, & > footer {
			background: none;
			color: black;
		}
	}

}
