.exemple {
  display: flex;
  flex-direction: column;
}
.exemple pre[class] {
  font-size: smaller;
  margin: 0;
  padding: .25em;
  border: 1px solid #d1d1c7;
}
.exemple pre + a {
  font-size: .6em;
  margin-top: -1em;
  margin-right: .5em;
  display: relative;
  z-index: 1;
  align-self: flex-end;
  color: inherit;
}
.exemple code[class*=language-],
.exemple pre[class*=language-] {
  line-height: 1.2em;
}
@media print {
  .exemple > a {
    display: none;
  }
}
.masquer-exemples .exemple,
.masquer-exemples .exemples {
  display: none;
  visibility: none;
}
