:root {
  font-size: 2vw;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: 'Fira Sans', sans-serif;
  --font-code: 'Ubuntu Mono', monospace;
  --couleur-principale: #456;
  --couleur-secondaire: #789;
  --couleur-coche: #456;
  --couleur-highlight: #e0e6eb;
}
